<h1 id="homeTitle"><%= @title %></h1>
<div id="divAddExpense" class="text-center">

<%= link_to "Ajouter une dépense !", new_expense_path, class:"btn" %>

  <!--  <button class="btn" href="/expense/new">Ajouter une dépense !</button>-->
</div>