// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#homeTitle {
    text-align: center;
    margin-top : 10%;
    color :darkcyan;
}

button {
    margin-top: 10%;
}