// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
    color :darkcyan;
    margin-bottom:10%;
}

p {
    margin-bottom: 5%;
}

table {
        background-color: ghostwhite;
}

#tabBar {
    background-color: powderblue;

}

td, th { text-align : center;}